* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    
}

li {
    border: solid black 2px;
    max-width: 200px; 
    display: flex; 
    align-items: center;
    border-radius: 15px;
    padding: 0;
    display: flex;
    flex-direction: column;
   
}

img {
    height: 70px;
    width: 70px;
    margin: auto;

}

div > p {
    text-align: center;
}

button {
   margin: auto;
   justify-content: space-evenly;
}





